<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="serverName" connectionString="DESKTOP-NENSE3P\SERVERDATABASE"/>
        <add name="databaseName" connectionString="TaskProject"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      
      <!--
      <add key="ParentTable" value="Project"/>
      <add key="ParentPrimaryKey" value="id"/>
      <add key="ParentForeignKey" value="none"/>
      <add key="ParentParent" value="none"/>
      <add key="ParentColumns" value="text"/>
      <add key="ParentParameters" value="@text"/>

      <add key="ChildTable" value="Task"/>
      <add key="ChildPrimaryKey" value="id"/>
      <add key="ChildForeignKey" value="id_project"/>
      <add key="ChildParent" value="Project"/>
      <add key="ChildColumns" value="text, id_project"/>
      <add key="ChildParameters" value="@text, @id_project"/>
       
      <add key="SelectQuery" value="SELECT * FROM "/>
      <add key="InsertQuery" value="INSERT INTO @TableName VALUES"/>
      <add key="UpdateQuery" value="UPDATE @TableName SET"/>
      <add key="DeleteQuery" value="DELETE FROM @TableName WHERE @PK = @Value"/>
      -->


      <add key="ParentTable" value="AnotherProject"/>
      <add key="ParentPrimaryKey" value="id"/>
      <add key="ParentForeignKey" value="none"/>
      <add key="ParentParent" value="none"/>
      <add key="ParentColumns" value="text, name"/>
      <add key="ParentParameters" value="@text, @name"/>

      <add key="ChildTable" value="AnotherTask"/>
      <add key="ChildPrimaryKey" value="id"/>
      <add key="ChildForeignKey" value="id_project"/>
      <add key="ChildParent" value="Project"/>
      <add key="ChildColumns" value="text, name, location, id_project"/>
      <add key="ChildParameters" value="@text, @name, @location, @id_project"/>

      <add key="SelectQuery" value="SELECT * FROM "/>
      <add key="InsertQuery" value="INSERT INTO @TableName VALUES"/>
      <add key="UpdateQuery" value="UPDATE @TableName SET"/>
      <add key="DeleteQuery" value="DELETE FROM @TableName WHERE @PK = @Value"/>
    </appSettings>
</configuration>