<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <extension name="coverage" enabled="false" merge="false" sample_coverage="true" runner="idea">
      <pattern>
        <option name="PATTERN" value="main.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <option name="SPRING_BOOT_MAIN_CLASS" value="main.SpringServer" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <module name="server_main" />
    <envs />
    <method />
  </configuration>
</component>